<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <ul>
      <!-- リストの個数をランダムにすることで画面の高さをランダムにしている -->
      <% for (var i=0; i < n; i++) { %>
        <li>hi</li>
      <% } %>
    </ul>
    <script type="text/javascript">
      window.onload = function () {
        // 埋め込み先のiframeへ適切な高さを通知してやる
        height = window.document.body.offsetHeight + 30;
        parent.postMessage({height: height}, "*");
      };
    </script>
  </body>
</html>
